/* .container {
    display: flex;
    gap: 20px;
}

.wrap {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    overflow-y: auto;
}

.wrap::-webkit-scrollbar {
    width: 10px;
}

.wrap::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
    border-radius: 10px;
}

.box {
    cursor: pointer;

}

.row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cata {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
} */